section {
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      margin: 2rem;
      background-color: #b2b2d1;
    }

    button {
      padding: 1.5rem 3rem;
      background: linear-gradient(to right, #6359e9, #7d3cf8);
      color: #fff;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.2rem;
    }

    button:hover {
      background: linear-gradient(to right, #2ecad7, #2b8bf2);
      transform: scale(1.1);
    }


    .block {
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: #232346;
      color: whitesmoke;
      margin-bottom: 30px;
      transition: transform 0.3s;
      height: 300px;
      width: 340px;
    }

    .block:hover {
      transform: translateY(-7px);
    }



    footer {
      text-align: center;
      padding: 1rem;
      background-color: #1d1d41;
      color: #ffffff;
      border-radius: 10px;
    }

    .float-left {
      float: left;
    }

    header {
      background-color: #1d1d41;
      color: #fff;
      text-align: center;
      padding: 2rem;
      border-radius: 20px;
    }
    .tex {
position: absolute;
top: 20%;
left: 25%;
transform: translate(-50%, -50%);
color: white;
text-shadow: 5px 13px 10px rgb(0, 225, 255);
opacity: 1;
font-size: 22px;
}

.imagge {
 width: 98%;
 height: 70vh;
}

.dive {
    position: relative;
    width: 98%;
}

.divs {
    padding-left: 40px ;
}

ul {
    position:sticky;
    z-index:10; 
    list-style:none;
    background: #232346;
}

li {
    display: inline;
    
}

li a {
  color: white;
  padding: 10px;

}

li a:hover {
  color: red;
}

.sizeing img{
    width: 500px;
    height: 350px;
    border-radius: 20px;
    border:2px solid black;
}

.sizeing img:hover {
  border: 3px solid white;
  border-radius: 30px;
  border:20%
}

.darker {
background-color: #b2b2d1;
}

.lighter {
background-color: #b1e6f0;
}


