body {
    background-color: black;
    color: white;
}

section {
border-radius: 20px;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
padding: 2rem;
margin: 2rem;
background-color: #000000;
text-align: justify;
border: 2px solid white;
height: 600px;
width: 65%;

}

/* section:hover {
background-color: rgb(191, 196, 202);
color: #1c7981;
} */

button {
padding: 1.5rem 3rem;
background: linear-gradient(to right, #6359e9, #7d3cf8);
color: #fff;
border: none;
border-radius: 30px;
cursor: pointer;
font-weight: bold;
font-size: 1.2rem;
}

button:hover {
background: linear-gradient(to right, #2ecad7, #2b8bf2);
transform: scale(1.1);
}


.block {
padding: 30px;
border-radius: 15px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
background-color: #232346;
color: whitesmoke;
margin-bottom: 30px;
transition: transform 0.3s;
height: 300px;
width: 340px;
}

.block:hover {
transform: translateY(-7px);
}



footer {
text-align: center;
padding: 1rem;
background-color: #1d1d41;
color: #ffffff;
border-radius: 10px;
}

.float-left {
float: left;
}

header {
background-color: #1d1d41;
color: #fff;
text-align: center;
padding: 2rem;
border-radius: 20px;
}

ul {
position:sticky;
z-index:10; 
list-style:none;
background: #232346;
}

li {
    display: inline;
    
}

li a {
  color: white;
  padding: 10px;

}

li a:hover {
  color: red;
}

.container {
background-image: url("https://cdn.mos.cms.futurecdn.net/uVwrSjfVvkGwk9y6zNJMob-650-80.jpg.webp");
border-radius: 20px;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
padding: 2rem;
margin: 2rem;
background-color: #000000;
text-align: justify;
border: 2px solid white;
height: 600px;
width: 65%;
background-repeat: no-repeat;         
background-size:cover;                                                                                      
}

.row {
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
    width: 70px;
    transition: width 2s, height 2s;
}

.row:hover {
    width: 200px;
    height: 200px;
}

#mercury {
    background-image: url("https://img.freepik.com/premium-photo/isolated-mercury-black-background_941625-1621.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#venus {
    background-image: url("https://media.istockphoto.com/id/1083388898/photo/planet-venus-isolated.jpg?s=612x612&w=0&k=20&c=1z_b165s0VqiBiLevL-02r4VgO3lpNWiXj7MNVi0tg8=");
    background-size: cover;
    background-repeat: no-repeat;
}
#infos {
    visibility: hidden;
    background-color: #2b8bf2;
    float: left;
     opacity: 0.9;
     width: 200px;
     height: 100px;
}

#info2 {
    position: fixed;
    visibility: hidden;
    background-color: #2b8bf2;
    float: right;
     opacity: 0.9;
     width: 200px;
     height: 100px;
}

#info {
    text-align: justify;
    font-style: italic;
}
